<%= render "shared/header" %>

<div class="main">
  <% if @users.any? %>
    <% @users.each do |user| %>
      <% if user.profile && user != current_user%>
        <li>
          <%= link_to user.name, profile_path(user.profile.id) %>
          <span>TEAM :</span>
          <%= user.profile.team.name %>
          <span>CONTACT INFOMATION</span>
          <%= user.profile.contact %>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <li>
      <p>User informations appear here after new user joined.</p>
    </li>
  <% end %>
</div>