.wrapper {
  padding: 115px 0 0 0;
}
@media (max-width: 629px) {
  .wrapper {
    padding: 55px 0 0 0;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  color: rgb(40, 40, 40);
  font-weight: bold;
  white-space: nowrap;
  border: 1px solid lightgray;
}
.form-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input.regi-form {
  height: 40px;
  width: 300px;
  border:none;
  border-radius:5px;
  box-shadow: none;
  padding: 3px;
  background-color: lightgray;
  font-size: 15px;
}
input:focus {
  outline: none;
}

.submit {
  height: 40px;
  width: 306px;
  border:none;
  border-radius:5px;
  box-shadow: none;
  background-color: rgb(40, 40, 40);
  color: white;
  margin: 5px 0;
}
.regi-edit-submit{
  margin-bottom: 30px;
}

.another-choice {
  text-align: center;
  padding: 3px;
  height: 50px;
}

.field {
  margin: 5px;
  text-align: center;
}


.field p{
  margin: 5px;
}

/* Edit registration */
.delete-field {
  margin-top: 20px;
  text-align: center;
}
.delete-field p {
  margin: 10px 0;
}

