.regi-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100%;
  background-color: rgb(40, 40, 40);
  color: white;
}

.regi-form-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

input.regi-form {
  height: 40px;
  width: 300px;
  border:none;
  border-radius:5px;
  box-shadow: none;
  padding: 3px;
  background-color: lightgray;
  font-size: 15px;
}
input:focus {
  outline: none;
}

.actions {
  text-align: center;
}
.submit {
  height: 40px;
  width: 306px;
  border:none;
  border-radius:5px;
  box-shadow: none;
  background-color: rgb(40, 40, 40);
  color: white;
}

.another-choice {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3px;
  height: 50px;
}